@media (min-width:0px) and (max-width:150px) {
  
.hide-when-mobile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
p, button, a, footer, .fa-heart{
  font-size: 10px !important;
}
.main-list{
  padding: 10px 12px;
}

 .logo{
  font-size: 19px !important;
} 
h6{
  line-break: anywhere;
  font-size: 11px;
}


input {
  font-size: 9px;
}

  
}

